
body {
    color: #747704;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 52px;
    font-weight: 100;
}

h4 {
    font-size: 22px;
}

h2 {
    color: #bcbbbb;
    font-size: 30px;
    margin-top: 30px;
    padding-left: 10px;
}

h3 {
    font-size: 30px;
    text-transform: uppercase;
}

hr {
    border: none;
    height: 2px;
    background-color: #bcbbbb;
}

a,
a:hover,
a:visited {
    color: #747704;
    text-decoration: none;
}

.logo {
    margin-top: 20px;
}

.container {
    max-width: 997px;
    margin: 0 auto;
}

.project {
    margin-bottom: 10px;
}

@media screen and (max-width: 767px) {

    h1 {
        font-size: 32px;
    }

    h4 {
        font-size: 16px;
    }

    .logo {
        width: 80px;
    }

    h2 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 25px;
    }

    h3 {
        font-size: 24px;
    }

    .all-projects {
        max-width: 314px;
        margin: 0 auto;
    }
}
